[Unit]
Description=ioc-seismometer-container
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home/reftek/ioc/lnls-seismometer-epics-ioc
Restart=always
RestartSec=1
ExecStart= sudo /usr/bin/docker compose up
ExecStop=sudo /usr/bin/docker compose down

[Install]
WantedBy=default.target